h2.one{
    color: brown;
}

.one{
    color: yellow;
}

h2.one{
    color: sienna;
}

section .one{
    font-size: 33;
    color: blue;
}

section:first-of-type{
    background: linear-gradient(90deg, green 33%, red 33%, red 67%, yellow 67%);
}

section:nth-of-type(2){
    background: radial-gradient(circle, white 20%, blue 30%);
}

section:nth-of-type(3){
    background: radial-gradient(circle, white 30%, purple 30%);
}

section:last-of-type{
    
    background: conic-gradient;
}


aside{
    background: repeating-linear-gradient(30deg, fuchsia 13%, blue 22% );
}