section:first-of-type{
    background: linear-gradient(180deg, rgb(179, 17, 17) 28%, white 28%, white 33%, navy 33%, navy 62%, white 62%, white 67%, green 67%);
}

section:nth-of-type(2){
    background: linear-gradient(180deg, green 33%, yellow 33%, yellow 67%, blue 67%);
}

section:nth-of-type(3){
    background: linear-gradient(90deg, green 33%, white 33%, white 67%, green 67%);
}

section:nth-of-type(4){
    background: radial-gradient(circle, red 30%, white 30%);
}

section:nth-of-type(5){
    background: linear-gradient(90deg, black 33%, yellow 33%, yellow 67%, tomato 67%);
}

section:nth-of-type(6){
    background: linear-gradient(90deg, navy 33%, white 33%, white 67%, tomato 67%);
    
    
}

section:nth-of-type(7){
    background: linear-gradient(90deg, green 33%, red 33%, red 67%, yellow 67%);



}



